
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tweedictionary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Gizem Gür/Kemal Akkoyun" >

    <link href="../../static/tweedictionary/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/tweedictionary/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../../static/tweedictionary/css/docs.css" rel="stylesheet">

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">


  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="index.html">Tweedictionary</a>
       <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="credits.html">Credits</a></li>
          </ul>
          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>
          <ul class="nav pull-right">
              <li><a href="register.html">Sign in</a></li>
            <li><a href="login.html">Log in</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
     </div>
   </div>
 </div>

    <div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="subnav">
    <ul class="nav nav-pills">
	<li><a href="/alphabeth/A">A</a></li>
	<li><a href="/alphabeth/B">B</a></li>
	<li><a href="/alphabeth/C">C</a></li>
	<li><a href="/alphabeth/D">D</a></li>
	<li><a href="/alphabeth/E">E</a></li>
	<li><a href="/alphabeth/F">F</a></li>
	<li><a href="/alphabeth/G">G</a></li>
	<li><a href="/alphabeth/H">H</a></li>
	<li><a href="/alphabeth/I">I</a></li>
	<li><a href="/alphabeth/J">J</a></li>
	<li><a href="/alphabeth/K">K</a></li>
	<li><a href="/alphabeth/L">L</a></li>
	<li><a href="/alphabeth/M">M</a></li>
	<li><a href="/alphabeth/N">N</a></li>
	<li><a href="/alphabeth/O">O</a></li>
	<li><a href="/alphabeth/P">P</a></li>
	<li><a href="/alphabeth/Q">Q</a></li>
	<li><a href="/alphabeth/R">R</a></li>
	<li><a href="/alphabeth/S">S</a></li>
	<li><a href="/alphabeth/T">T</a></li>
	<li><a href="/alphabeth/U">U</a></li>
	<li><a href="/alphabeth/V">V</a></li>
	<li><a href="/alphabeth/W">W</a></li>
	<li><a href="/alphabeth/X">X</a></li>
	<li><a href="/alphabeth/Y">Y</a></li>
	<li><a href="/alphabeth/Z">Z</a></li>
    </ul>
  </div>
</header>


<!-- Main Container
================================================== -->
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Hot Items</li>
              <li class="active"><a href="index.html">Lorem Ipsum</a></li>
              <li><a href="#">Duis porttitor turpis</a></li>
              <li><a href="#">Mauris</a></li>
              <li><a href="#">Integer vel elit eu sapien</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h2>Lorem Ipsum</h2>
          </div>
            <div class="span9">
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><h6 class="pull-right">, 15.04.2012</h6> <a class="pull-right"> username</a> </p>
            </div><!--/span-->
            <div class="span9">
              <p>Praesent pretium, tellus quis sodales dapibus, ligula metus venenatis mauris, ut bibendum felis massa eu lacus. Aenean pharetra porttitor pretium. Mauris rhoncus placerat odio eget consectetur. Etiam vestibulum sapien interdum velit lobortis eget luctus dolor facilisis. Maecenas gravida, justo sed laoreet dapibus, mi ligula egestas nunc, et laoreet metus lectus ut felis. Aliquam erat volutpat. In id mi neque, vel interdum nibh. Integer sed lectus nec dolor sagittis aliquet. In fringilla metus vel ligula egestas nec aliquet dolor porta. </p>
              <p><h6 class="pull-right">, 15.04.2012</h6> <a class="pull-right"> hephaestus</a> </p>
            </div><!--/span-->
            <div class="span9">
              <p>Vestibulum sagittis congue lorem, ut accumsan est malesuada quis. Aenean malesuada semper arcu quis consectetur. Nunc non felis sed lorem dictum facilisis at scelerisque neque. </p>
              <p><h6 class="pull-right">, 15.04.2012</h6> <a class="pull-right"> username</a> </p>
            </div><!--/span-->
            <div class="span9">
              <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
              <p><h6 class="pull-right">, 15.04.2012</h6> <a class="pull-right"> hephaestus</a> </p>
            </div><!--/span-->
            <div class="span9">
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
              <p><h6 class="pull-right">, 15.04.2012</h6> <a class="pull-right"> username</a> </p>
            </div><!--/span-->
            <div class="span9">
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. </p>
             <p><h6 class="pull-right">, 15.04.2012</h6> <a class="pull-right"> username</a> </p>
            </div><!--/span-->

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../jsnew/jquery.js"></script>
    <script src="../jsnew/bootstrap-dropdown.js"></script>
    <script src="../jsnew/bootstrap-scrollspy.js"></script>
    <script src="../jsnew/bootstrap-collapse.js"></script>
	<script src="../jsnew/bootstrap-tooltip.js"></script>
    <script src="../jsnew/application.js"></script>
    <script src="../jsnew/bootswatch.js"></script>


  </body>
</html>

