
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tweedictionary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Gizem Gür/Kemal Akkoyun" >

    <link href="../../static/tweedictionary/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/tweedictionary/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../../static/tweedictionary/css/docs.css" rel="stylesheet">

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">


  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">Tweedictionary</a>
       <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/credits">Credits</a></li>
          </ul>
    {% if entered %}
		<p>You entered: <blockquote>{{ entered }}</blockquote></p>
	{% endif %}
          <form class="navbar-search pull-left search-query span2" action="{% url search_form %}" method="GET">
                {{ form }}<input type="submit" class="btn btn-small btn-inverse">            
          </form>
          	{% block navbar %}{% endblock %}
        </div><!-- /.nav-collapse -->
     </div>
   </div>
 </div>

    <div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="subnav">
    <ul class="nav nav-pills">
	<li><a href="/alphabet/A">A</a></li>
	<li><a href="/alphabet/B">B</a></li>
	<li><a href="/alphabet/C">C</a></li>
	<li><a href="/alphabet/D">D</a></li>
	<li><a href="/alphabet/E">E</a></li>
	<li><a href="/alphabet/F">F</a></li>
	<li><a href="/alphabet/G">G</a></li>
	<li><a href="/alphabet/H">H</a></li>
	<li><a href="/alphabet/I">I</a></li>
	<li><a href="/alphabet/J">J</a></li>
	<li><a href="/alphabet/K">K</a></li>
	<li><a href="/alphabet/L">L</a></li>
	<li><a href="/alphabet/M">M</a></li>
	<li><a href="/alphabet/N">N</a></li>
	<li><a href="/alphabet/O">O</a></li>
	<li><a href="/alphabet/P">P</a></li>
	<li><a href="/alphabet/Q">Q</a></li>
	<li><a href="/alphabet/R">R</a></li>
	<li><a href="/alphabet/S">S</a></li>
	<li><a href="/alphabet/T">T</a></li>
	<li><a href="/alphabet/U">U</a></li>
	<li><a href="/alphabet/V">V</a></li>
	<li><a href="/alphabet/W">W</a></li>
	<li><a href="/alphabet/X">X</a></li>
	<li><a href="/alphabet/Y">Y</a></li>
	<li><a href="/alphabet/Z">Z</a></li>
    </ul>
  </div>
</header>


<!-- Main Container
================================================== -->
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Hot Items</li>
              
              <!--Hot items render-->
              {% for item in hot_items %}
              <li><a href=/item/{{ item.id }}>{{ item.name }}</a></li>
              {% endfor %}
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <div class="span9">
		{% block content %}{% endblock %}
        </div><!--/span-->
        
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Tweedictionary 2012</p>
      </footer>

    </div><!--/.fluid-container-->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/tweedictionary/js/jquery.js"></script>
    <script src="../../static/tweedictionary/js/bootstrap-dropdown.js"></script>
    <script src="../../static/tweedictionary/js/bootstrap-scrollspy.js"></script>
    <script src="../../static/tweedictionary/js/bootstrap-collapse.js"></script>
    <script src="../../static/tweedictionary/js/bootstrap-tooltip.js"></script>
    <script src="../../static/tweedictionary/js/application.js"></script>
    <script src="../../static/tweedictionary/js/bootswatch.js"></script>


  </body>
</html>

