{% extends "base.html" %}

{% block navbar %}
	<ul class="nav pull-right">
          <li><a href="/additem">Add an Item</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user.username }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/profile">Profile</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            </li>
         </ul>
{% endblock %}

{% block content %}
          <div class="hero-unit">
            <h2>Edit Entry</h2>
          </div>

<div class="span9">
	<form action="{% url edit_entry entry.id %}" method="POST">
	{% csrf_token %}
			
            <div class="controls">
              {{ entryform.as_table }}
            </div>
	<div class="form-actions">
      	<button type="submit" class="btn btn-primary">Update Entry & Tweet</button>
	</div>
	</form>
</div><!--/span-->
{% endblock %}
