{% extends "base.html" %}

{% block navbar %}
	<ul class="nav pull-right">
          <li><a href="/add_item">Add an Item</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user.username }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/profile">Profile</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            </li>
         </ul>
{% endblock %}

{% block content %}
          <div class="hero-unit">
            <h2>{{public_user.username}}</h2>
          </div>
        {% for e in public_user.entries.all %}
            <div class="span9">
              
              <p>{{ forloop.counter }}.  {{ e.content }}</p>
              <p><h6 class="pull-right">, {{ e.date }}</h6> <a class="pull-right" href="/public/{{ e.author.id }}">, {{ e.author }}</a> <a class="pull-right" href="/item/{{ e.belong.id }}">{{ e.belong.name }}</a></p>

            {% if user.id == e.author.id %}
				<br>
				<div class="btn-group pull-right">
  				<button class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></button>
  				<ul class="dropdown-menu">
  					<li><a href="/edit_entry/{{ e.id }}">Edit</a></li>
  					<li><a href="/retweet/{{ e.id }}">Tweet</a></li>
  					<li class="divider"></li>
  					<li><a href="/delete/{{ e.id }}">Delete</a></li>
 				</ul>
				</div>
	    {% endif %}
			
	    </div><!--/span-->
	{% endfor %}

{% endblock %}
